.loginWrapper {
	display: flex;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.leftImg {
	width: 50vw;
	// height: 100vh;
	background-color: red;

	& > img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.rightForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50vw;
	height: 100vh;
	background-color: #ffffff;
}

.username,
.password,
.phoneNumber,
.footer,
.captchaWrap {
	margin-bottom: 20px !important;
}

.footer {
	.register {
		margin-right: 20px;
	}
}

.validateError {
	color: red;
}

.registerWrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 360px;
}

.captchaWrap {
	display: flex;
}

.captcha {
	height: 56px;
	width: 160px;
	margin-right: 8px;
	border-radius: 4px;
}
