.componentsMenu {
  width: 100%;

  .itemWrap {
    position: relative;
    width: 100%;
  }

  .submenuWrap {
    width: 100%;
    z-index: 1;
  }

  .submenuList {
    background-color: green;

    .dragItem {
      width: 100%;
    }
  }

  .menuItem {
    width: 100%;
  }

  .paper {
    width: 100%;
  }
}
