.menuPanel {
    .itemWrap {
        position: relative;
        width: 100%;
    }

    .subMenuWrap {
        width: 100%;
        z-index: 1;
    }

    .menuItem {
        width: 100%;
    }

    .paper {
        width: 100%;
    }
}
