/* ---- reset ---- */
body {
	margin: 0;
	font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
	display: block;
}

/* ---- tsparticles container ---- */
#tsparticles {
	position: absolute;
	width: 100%;
	height: 100%;
}

.app {
	width: 100%;
	height: calc(100vh - 30px);

	& > section {
		position: relative;
		z-index: 2;
	}

	.operation {
		position: relative;
		display: flex;
		align-items: center;
		height: 60px;

		.addProject {
			position: absolute;
			right: 70px;
			color: white;
			cursor: pointer;
			transition: transform 0.3s ease-out;

			&::after {
				display: block;
				content: '\ed21';
				font-size: 14px;
				padding: 5px;
				font-family: 'easy-work';
				border-radius: 50%;
				background: linear-gradient(180deg, #08c4b4 0%, #0cd14d 100%);
			}

			&:hover {
				transform: scale(1.5);
				transition: transform 0.3s ease-in;
			}
		}

		.search {
			position: absolute;
			right: 24px;

			&::after {
				content: '\e8ef';
				font-size: 24px;
				font-family: 'easy-work';
			}
		}
	}

	.web,
	.h5 {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: calc(50vh - 45px);
		padding: 0 24px 24px 24px;
		background-color: #ffffff00;
	}
}
